<!DOCTYPE html>
<html lang="en">

<head>
  <title>USERNAME Dashboard</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userDash.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top Navbar -->
  <nav>
    <span class=appName>I-Do-It!</span>
    <a>Add-A-Do</a>
    <a>Logout</a>
  </nav>

  <!-- Add-a-note  -->
  <form class="add-todo-form" action="/api/todos" method="POST">
    <label for="note">Note</label>
    <input type="text" class="note-add" name="new_todo" placeholder="Jot your ToDo">
    <button class="add-todo-btn" type="submit">Add</button>
  </form>

  <!-- Todo List -->
  <table class="to-do-list">
    <tr class="to-do-header">
      <th>Id</th>
      <th>Do-It-s</th>
      <th>Category</th>
      <th>Status</th>
      <th>Date Added</th>
    </tr>
  </table>


</body>
