<!DOCTYPE html>
<html lang="en">

<head>
  <title>USERNAME Dashboard</title>
  <script src="https://use.fontawesome.com/c76116c194.js"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userDash.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top Navbar -->
  <nav>
    <span class=appName>I-Do-It!</span>
    <a>Add-A-Do</a>
    <a>Logout</a>
  </nav>

  <!-- Add-a-note  -->
  <form class="add-todo-form" action="/api/todos" method="POST">
    <label for="note">Note</label>
    <input type="text" class="note-add" name="new_todo" placeholder="Jot your ToDo">
    <button class="add-todo-btn" type="submit">Add</button>
  </form>

  <!-- Todo List -->
  <div class="edit-background">
    <div>1</div>
    <div class="edit-form">
      <h1>Edit Todos!</h1>
      <small>Small tweeks gets goals clearer!</small>
      <form>
        <label for="todo-title">Todo:</label>
        <input class="todo-title" placeholder="Todo" type="text" required />
        <label for="edit-due-date">Due:</label>
        <input class="edit-due-date" type="date" required />
        <label for="edit-due-date">Category:</label>
        <select class="edit-category" name="category">
          <option value="read">read</option>
          <option value="read">watch</option>
          <option value="read">eat</option>
          <option value="read">buy</option>
        </select>
        <div class="edit-form-btns">
          <input class="edit-form-submit-btn" type="submit" />
          <input class="edit-form-reset-btn" type="reset" />
        </div>
      </form>
    </div>
  </div>

  </div>

  <div class="markup-container">

  </div>

</body>
