.todo-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 2px solid #e44232;
  width: 70%;
  height: 75px;
  margin: 50px 15%;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  justify-content: space-between;
  opacity: 0.75;
}

.markup-container {
  margin-top: 20px;
}

.todo-container:hover {
  opacity: 1;
}

.todo-category {
  font-size: 35px;
  align-self: center;
  padding-left: 15px;
}

.posted-todo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: bolder;
  padding-left: 30px;
}

.todo-cat-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.scheduled-todo-date {
  margin-top: 10px;
  font-size: 15px;
  color: #b3b3b3;
}

.added-todo-date {
  padding-left: 20px;
  font-size: 15px;
  color: #b3b3b3;
}

.todo-text {
  text-decoration: underline;
  align-self: center;
}

.icons-todo {
  padding-right: 15px;
  button {
    border: none;
    background-color: transparent;
    font-size: 22px;
  }
  button:hover {
    cursor: pointer;
    color: #e44232;
  }
}

.todo-container-completed {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 10px solid #228b22;
  width: 70%;
  height: 75px;
  margin: 50px 15%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  justify-content: space-between;
  opacity: 0.75;

  .complete-btn {
    opacity: 1;
    font-size: xx-large;
    font-weight: bolder;
    color: #228b22;
  }
  .complete-btn:hover {
    opacity: 1;
    font-size: xx-large;
    font-weight: bolder;
    color: #228b22;
  }

  .delete-btn {
    opacity: 1;
    font-size: xx-large;
    font-weight: bolder;
    color: #e44232;
    cursor: pointer !important;
  }

  button:hover {
    cursor: default;
  }
}

.todo-container-completed:hover {
  opacity: 1;
}

userLogin .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
// add form and button layout

.add-todo-btn {
  background-color: #e44232;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  display: inline-block;
  width: 150px;
  font-size: 50px;
  font-weight: bolder;
  display: block;
  position: fixed;
  top: 250px;
  left: 5%;
  outline: 0;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

button[type="submit"]:hover {
  background-color: #e44132d4;
}

.add-form-container {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 550px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 100px;
}

.add-form-container input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.add-form-container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e44232;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.add-form-container button:hover {
  background: #e44132d4;
}
.add-form-container .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.add-form-container .message a {
  color: #e44232;
  text-decoration: none;
}

// edit popup form layout

h1 {
  margin: 0;
}

.edit-form {
  border: 6px solid #e44132d4;
  padding: 2em;
  width: 600px;
  height: 300px;
  text-align: center;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  margin: 10px;
}

.edit-form-submit-btn {
  width: 140px;
  display: inline-block;
  background: #e44232;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.edit-form-reset-btn {
  width: 140px;
  display: inline-block;
  background: #e44232;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

.edit-form-reset-btn:hover,
.edit-form-submit-btn:hover {
  background: #e44132d4;
  cursor: pointer;
}

.edit-background {
  background-color: rgba(128, 128, 128, 0.366);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.edit-form-btns {
  margin-top: 10px;
}

// add popup form layout

h1 {
  margin: 0;
}

.add-form {
  border: 6px solid #e44132d4;
  padding: 2em;
  width: 600px;
  height: 300px;
  text-align: center;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  margin: 10px;
}

.add-form-submit-btn {
  width: 140px;
  display: inline-block;
  background: #e44232;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: auto;
}

.add-form-reset-btn {
  width: 140px;
  display: inline-block;
  background: #e44232 !important;
  color: #fff;
  font-weight: 100;
  font-size: 1em !important;
  border: none;
  height: auto !important;
}

.add-form-reset-btn:hover,
.add-form-submit-btn:hover {
  background: #e44132d4;
  cursor: pointer;
}

.form-align {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.add-background {
  background-color: rgba(128, 128, 128, 0.366);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.add-form-btns {
  margin-top: 10px;
}

.add-todo-form {
  margin-top: 20px;
  text-align: center;
}
.filter {
  background-color: none;
  margin-top: 200px;
  margin-left: 22%;
  width: 50%;
  display: flex;
  justify-content: space-around;

  button {
    background-color: #e44232;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    display: inline-block;
    font-weight: bolder;
    height: 30px;
    width: 70px;
    border-radius: 22px;
  }
}

.logout-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #575757;
  text-decoration: none;
}

.logout-btn:hover {
  text-decoration: underline;
}

.logged-user-name {
  font-size: 20px;
  border: 2px solid #e44232;
  border-radius: 22px;
  padding: 0px 5px;
  height: 28px;
}
